/* .bg-img1 {
  background-image: url('abstract-technology-banner-background.jpg');
}

.bg-img2 {
  background-image: url('Banner-Mobile-Cho-Canh.jpg');
}

.bg-img3 {
  background-image: url('download.jpeg');
} */
